# Created by .ignore support plugin (hsz.mobi)
.idea/
target/classes/
/target/
target/classes/Persistence.xml
*.class
*.component

.settings/org.eclipse.wst.common.component

pom.xml

.settings/org.eclipse.wst.common.component

.settings/org.eclipse.wst.common.component

pom.xml
