# Created by .ignore support plugin (hsz.mobi)
.idea/
target/classes/
target/
target/classes/Persistence.xml
*.class
*.component
.settings/
src/main/webapp/WEB-INF/classes
.classpath

src/main/resources/Persistence.xml

.classpath
