<h2>psnSelect样例</h2>

<input id="selectPsn" type="text" class="form-control" placeholder="选中的信息建在这里显示">
<!-- requireJS Load -->
<script type="text/javascript">
require(["jquery","OrgDir/orgUtil","Bootstrap"],function($,orgUtil){
    var psnSelect = orgUtil.CS_SelectPsn({
            id : "selectPsn",
            type : "multi",
            orgTag : [
                {text:"标签一",code:"1"},
                {text:"标签二",code:"2"},
                {text:"标签三",code:"3"}
            ],
            orgData : [
                {code:"100",text:"测试100",data:[
                    {code:"101",text:"测试101"},
                    {code:"102",text:"测试102"},
                    {code:"103",text:"测试103"}
                ]},
                {code:"200",text:"测试200"},
                {code:"300",text:"测试300"}
            ],
            callback : function(data){
                console.log(data);
            }
        });
 });
</script>